body{
    background: black;
    color: silver;
    font-family: Arial, Helvetica, sans-serif;
}

#content{
    width: 1000px;
    margin: 2px auto;
    border: 1px solid silver;
    color silver;
    padding: 15px;
}

h1, h2{
    margin: 0px;
    padding 0px;
}

#main-header{
    text-align: center;
}

.inline-pre{
    display: inline;
}

#button-paragraph, #video-paragraph{
    text-align: center;
}

#main-video{
    width: 90%;
}

a{
    color: blue;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}